<template name="serviceGist">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <ul class="list-unstyled gist">
        <li>Port:&nbsp;{{service.port}}/{{service.protocol}}</li>
        <li>Service:&nbsp;{{service.service}}</li>
        <li>Product:&nbsp;{{service.product}}</li>
        <li>Updated by:&nbsp;{{service.lastModifiedBy}}</li>
        <li>
          {{#if service.isFlagged}}
            <i class="u-pull-left fa fa-flag flag-enabled clickable"></i>
          {{else}}
            <i class="u-pull-left fa fa-flag-o flag-disabled clickable"></i>
          {{/if}}
          <span class="u-pull-left status-span status-box clickable service-status {{service.status}}">&nbsp;</span>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled gist">
        <li>Host:&nbsp;{{#linkTo route="hostServiceList" id=projectId hid=host._id}}{{host.ipv4}}{{/linkTo}}</li>
      </ul>
    </div>
    <div class="col-md-4 gist">
      <form id="service-gist-set-service">
        <div class="row">
          <div class="col-md-6">
            <input type="text" name="service" class="form-control" placeholder="Service">
          </div>
          <div class="col-md-2">
            <button class="btn-primary">Set Service</button>
          </div>
        </div>
      </form>
      <form id="service-gist-set-product">
        <div class="row">
          <div class="col-md-6">
            <input type="text" name="product" class="form-control" placeholder="Product">
          </div>
          <div class="col-md-2">
            <button class="btn-primary">Set Product</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</template>
