<template name="hostList">
<div class="main">
  <div class="container content">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-unstyled list-inline">
          <li><button id="grey" class="button host-status-button lair-grey {{hostStatusButtonActive 'grey'}}">&nbsp;</button></li>
          <li><button id="blue" class="button host-status-button lair-blue {{hostStatusButtonActive 'blue'}}">&nbsp;</button></li>
          <li><button id="green" class="button host-status-button lair-green {{hostStatusButtonActive 'green'}}">&nbsp;</button></li>
          <li><button id="orange" class="button host-status-button lair-orange {{hostStatusButtonActive 'orange'}}">&nbsp;</button></li>
          <li><button id="red" class="button host-status-button lair-red {{hostStatusButtonActive 'red'}}">&nbsp;</button></li>
          {{#if flagFilter}}
            <li><button id="flag-filter-disable" class="button"><i class="fa fa-flag fa-lg"></i></button></li>
          {{else}}
            <li><button id="flag-filter-enable" class="button"><i class="fa fa-flag-o fa-lg"></i></button></li>
          {{/if}}
          <li><input type="text" id="host-list-search" placeholder="Search..." name="search" value={{savedSearch}}></li>
          <li><i class="fa fa-remove fa-lg clickable" id="remove-host-list-search" title="Clear text search"></i></li>
          <li class="u-pull-right"><a href="/projects/{{projectId}}/hosts/new" class="button button-primary">New Host</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-unstyled list-hosts">
          {{#each hosts}}
            <li>
              <div class="row list-hosts-top">
                <span class="host-list-ip u-pull-left">{{#linkTo route="hostServiceList" id=projectId hid=_id }}{{ipv4}}{{/linkTo}}</span>
                {{#if isFlagged}}
                  <span class="u-pull-left"><i class="fa fa-flag flag-enabled clickable"></i></span>
                {{else}}
                  <span class="u-pull-left"><i class="fa fa-flag-o flag-disabled clickable"></i></span>
                {{/if}}
                <span class="status-span u-pull-left clickable host-status {{status}}">&nbsp;</span>
                <span class="u-pull-left">{{statusMessage}}</span>
                <span class="u-pull-right">{{lastModifiedBy}}</span>
              </div>
              <div class="row">
                {{#each tags}}
                  <span class="left u-pull-left tag">{{this}}&nbsp;<i id="remove-tag-{{../_id}}" class="clickable remove-tag fa fa-times"></i></span>
                {{/each}}
                <span class="u-pull-right right"><label>Hostname:&nbsp;</label>{{hostnames.[0]}}</span>
                <span class="u-pull-right right"><label>OS:&nbsp;</label>{{os.fingerprint}}</span>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{#if notes}}
                    <label class="u-pull-left">Host Notes:&nbsp;</label>
                  {{/if}}
                  {{#each notes}}
                    <span class="u-pull-left left clickable note" data-id={{this._id}}>{{this.title}}</span>
                  {{/each}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{#if files}}
                    <label class="u-pull-left">Files: &nbsp;</label>
                  {{/if}}
                  {{#each files}}
                    <span class="u-pull-left left file"><a class="file-href" href="{{url}}" target="_blank">{{this.fileName}}</a></span>
                  {{/each}}
                </div>
              </div>
              {{#if services projectId _id}}
                <table class="services-table">
                  <tr>
                  <th>PORT</th>
                  <th>SERVICE</th>
                  <th>PRODUCT</th>
                  <th>FLAG</th>
                  <th>STATUS</th>
                  <th>NOTES</th>
                  </tr>
                {{#each services projectId _id}}
                  <tr>
                    <td><span class="left u-pull-left">{{#linkTo route="serviceIssueList" id=projectId hid=hostId sid=_id}}{{port}}/{{protocol}}{{/linkTo}}</span></td>
                    <td><span class="left u-pull-left">{{service}}</span></td>
                    <td><span class="left u-pull-left">{{product}}</span></td>
                    {{#if isFlagged}}
                        <td><span class="u-pull-left"><i class="fa fa-flag service-flag-enabled clickable"></i></span></td>
                    {{else}}
                        <td><span class="u-pull-left"><i class="fa fa-flag-o service-flag-disabled clickable"></i></span></td>
                    {{/if}}
                    <td><span class="status-span u-pull-left clickable service-status {{status}}">&nbsp;</span></td>
                    {{#each notes}}
                      <td><!--<span class="u-pull-right right note">{{#linkTo route="serviceNoteList" id=../projectId hid=../hostId sid=../_id}}{{this.title}}{{/linkTo}}</span>--><span class="u-pull-right right clickable note">{{this.title}}</span></td>
                    {{/each}}
                  </tr>
                {{/each}}
                </table>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>Showing {{hosts.length}} of {{total}} hosts</p>
      </div>
      {{#if moreToShow}}
        <div class="col-md-6">
          <ul class="list-unstyled list-inline">
            <li class="u-pull-right"><button id="load-all" class="button">Show All</button></li>
            <li class="u-pull-right"><button id="load-more" class="button" style="margin-right: 10px">Show More</button></li>
          </ul>
        </div>
      {{/if}}
    </div>
  </div>
</div>
</template>


